.App {
  font-family: sans-serif;
  text-align: center;
}

.Tooltip {
  width: 200px;
  background-color: rgba(46, 46, 46, 0.9);
  color: white;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
}
